

.cart-display{
    background-color: white;
    box-shadow: 1px 1px 3px 0px #d7ccc8;
    margin: .3em;
    padding: .7em;
    border-radius: 3px;
}


@media screen and (max-width: 600px){
    .cart-display{
        background-color: white;
        box-shadow: 1px 1px 3px 0px #d7ccc8;
        margin: .3em;
        padding: 1em;
        border-radius: 3px;
     top:30px;
    width: 350px;
        position: fixed ;
        overflow-y:scroll;
        height: 450px;
       float: right;
    bottom: 10;
    }
}


.box-padd{
    padding: 1px;
}

.display-total{
    color: #689f38;
    font-weight: 600;
    font-size: 20px;
    padding: 5px;
    border-bottom: 1px solid #efebe9 ;
}

.comprar-btn{
    @extend .display-total;
    text-align: center;
}

.comprar-btn:hover{
    cursor: pointer;
    color:#1b5e20;
}

.cart-item{
    border-bottom: 1px solid #efebe9 ;
    padding: 1em;
}


.close-btn{
    color:#ef5350;
}

.close-btn:hover{
color: #b71c1c;
cursor: pointer;
}

.remove-all{
    color:#ef5350;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    padding-top: .7em;
}

.remove-all:hover{
    color: #b71c1c;
cursor: pointer;
}

.product-image{
    max-width: 80%;
}

.product-name{
    color:#8d6e63 ;
    font-size: 15px;
    font-weight: 600; 
}

.price{
    font-size: 12px;
    font-weight: 400;
    color: #689f38;
}

.remove-btn{
  background-color: #ef5350;
  font-size: 12px;
color:white;
border:none;
}

.remove-btn:hover{
    background-color: #b71c1c;
}

.quantity-row{
    width:75%;
    text-align: center;
}

.quantity{
    font-size: 15px;
    font-weight: 600;
}

.arrow{
    color: #8d6e63;
    font-size: 15px;
    vertical-align: baseline;
}

.arrow:hover{
   color:#3e2723; 
   cursor: pointer;
}

.up-arrow{
    @extend .arrow;
    float: left;
}
.down-arrow{
    @extend .arrow;
    float: right;
}